<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FFXIVMonReborn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FFXIVMonReborn.Properties.Settings>
            <setting name="Repo" serializeAs="String">
                <value>SapphireServer/Sapphire</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value>C:/Program Files (x86)/SquareEnix/FINAL FANTASY XIV - A Realm Reborn/game/sqpack</value>
            </setting>
            <setting name="ColorServerSet0" serializeAs="String">
                <value>255, 198, 95</value>
            </setting>
            <setting name="ColorServerSet1" serializeAs="String">
                <value>253, 218, 153</value>
            </setting>
            <setting name="ColorClientSet0" serializeAs="String">
                <value>140, 226, 255</value>
            </setting>
            <setting name="ColorClientSet1" serializeAs="String">
                <value>183, 227, 255</value>
            </setting>
            <setting name="DontUsePacketTimestamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StripHeaderActors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceRealtimePriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkMonitorType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoadEXD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableFsWatcher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideHexBoxActorId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StickPacketViewBottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OodleEnforced" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OodleImplementation" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OodleLibraryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDeucalion" serializeAs="String">
                <value>False</value>
            </setting>
        </FFXIVMonReborn.Properties.Settings>
    </userSettings>
</configuration>